body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#botao3
{
   box-sizing: border-box;
   line-height: 81px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #2E6DA4;
   border-radius: 4px;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#botao2
{
   box-sizing: border-box;
   line-height: 33px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #2E6DA4;
   border-radius: 4px;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#botao1
{
   box-sizing: border-box;
   line-height: 81px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #2E6DA4;
   border-radius: 4px;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#botao1
{
   position: absolute;
   left: 106px;
   top: 225px;
   width: 335px;
   height: 85px;
   z-index: 3;
}
#botao2
{
   position: absolute;
   left: 106px;
   top: 327px;
   width: 335px;
   height: 37px;
   z-index: 2;
}
#botao3
{
   position: absolute;
   left: 106px;
   top: 382px;
   width: 335px;
   height: 85px;
   z-index: 1;
}
@media only screen and (max-width: 969px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}

#botao3
{
   left: 16px;
   top: 235px;
   width: 335px;
   height: 85px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 1px 6px 1px 6px;
}
#botao3
{
   line-height: 81px;
}
#botao2
{
   left: 16px;
   top: 180px;
   width: 335px;
   height: 37px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 1px 6px 1px 6px;
}
#botao2
{
   line-height: 33px;
}
#botao1
{
   left: 16px;
   top: 78px;
   width: 335px;
   height: 85px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 1px 6px 1px 6px;
}
#botao1
{
   line-height: 81px;
}
}
